<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rubylich.ktmp">

    <application
        android:name="com.rubylich.ktmp.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_android_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_android_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="com.rubylich.ktmp.notifications.service.MyFirebaseMessagingService"
            android:exported="false"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_android_black_24dp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primaryColor" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_channel" />

        <activity android:name="com.rubylich.ktmp.PostsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>